  <div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:200px;" title="" class="img-circle img-thumbnail isTooltip" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" data-original-title="Usuario">
            </div>
            <div class="col-md-6">
                <strong>User Information</strong><br>
                <div class="table-responsive">
                <table class="table table-user-information">
                    <tbody>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                    ID #:                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{mainUser.userId}} 
                            </td>
                        </tr>
                        <tr>    
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary"></span>    
                                    First Name                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{mainUser.userFirstName}}    
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                    Last Name                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{mainUser.userLastName}}
                            </td>
                        </tr>
    
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                    Username                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{mainUser.userName}} 
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                    Email:                                              
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{mainUser.userEmail}}
                            </td>
                        </tr>                   
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    </div>                                       
